#starWarsBaner {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 150px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

img {
}

img#melee-banner {
  height: 100px;
}
