body {
    background-image: url('./armorbackground.jpeg');
    background-repeat: no-repeat;
    background-size: auto cover;


}

#title-id {

    background: url(meleelogo.png) no-repeat center;
    /* position: absolute;  */
    /* margin-left: 50%;    */
    z-index: 1000;
    object-fit: cover;
    height: 125px;
    width: 100vw;

}

